@import "src/assets/scss/variables";

footer {
    padding: $gutter*2 0;
}

.footer-links {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
            margin: 0 $gutter;
            a {
                font-size: 1.4rem;
                color: $text-color;
            }
        }
    }
}
