@import "src/assets/scss/variables";

header  {
    padding: $gutter*2 0;
    margin-bottom: $gutter*2;
    .home {
        display: flex;
        align-items: center;
        i {
            margin-right: $gutter;
            font-size: 2rem;
            cursor: pointer;
        }
        h1 {
            font-size: 1.8rem;
            margin: 0;
        }
    }
}

nav {
    ul {
        display: flex;
        align-items: center;
        li {
            margin: 0 $gutter;
            a {
                font-size: 1.4rem;
                color: $text-color;
            }
        }
    }
}

.mobile-nav {
    cursor: pointer;
    i {
        font-size: 2rem;
    }
}

#mobile-navigation {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    z-index: 999;
    transition: all 0.2s ease-in-out;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .close-mobile-navigation {
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 22;
        i {
            font-size: 2rem;
            color: $text-color;
        }
    }
    .mobile-navigation {
        position: relative;
        overflow: hidden;
        padding: $gutter*3 $gutter $gutter;
        ul {
            padding: 0;
            li {
                a {
                    line-height: 3rem;
                    font-size: 1.4rem;
                    color: $text-color;
                }
            }
        }
        .select-language {
            padding-top: $gutter;
            min-height: $gutter*10;
            .ng-select {
                &.ng-select-single {
                    .ng-select-container {
                        line-height: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
    }
}

.navigation-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.15);
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

::ng-deep {
    .mobile-active {
        #mobile-navigation {
            left: 0;
            box-shadow: 2px 0 5px 0 rgb(0 0 0 / 10%);
        }
        .navigation-menu-overlay {
            display: block!important;
        }
    }
}

.user-menu {
    button {
        font-size: 1.4rem;
        color: $text-color;
        outline: none;
        border: none;
    }
}
